---
---

@import "{{ site.theme }}";

/* Hide sidebar */
.header {
  display: none;
}


.wrapper {
  width:95%;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width: 100%;
  float: none;
  padding-bottom: 50px;
}
