---
---

@import "{{ site.theme }}";

/* Hide sidebar */
.sidebar {
  display: none;
}


.wrapper {
  width:95%;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:900px;
  float:right;
  padding-bottom:50px;
}
